requests
beautifulsoup4
selenium==4.15.2
webdriver-manager
undetected-chromedriver==3.5.5
pandas
plotly
kaleido
pycountry
bibtexparser
numpy
scikit-learn
scipy
matplotlib
networkx
wordcloud
pillow
flask
gunicorn
